[defaults]
inventory = inventory/cicd/hosts.yml
host_key_checking = False
private_key_file = ~/.ssh/id_rsa
result_format = yaml
deprecation_warnings = False
interpreter_python = auto_silent

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=120s -o StrictHostKeyChecking=no
